<div class="body">
  <div class="container mt-5">
    <div class="row">
      <div class="cool-xs-6">
        <h2 class="welcome">
          <b>Welcom</b> to <b>BaseballScore !!</b>
        </h2>
        <div class="row">
          <h5 class="about">
            BaseballScoreでチームの記録や個人の成績を共有して<br>
            楽しい野球人生を！！
          </h5>
        </div>
      　<div class="row">
      　  <%=
      　</div>
      </div>
    </div>
  </div>
</div>